/* Styles for Code 7 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Courier New', Courier, monospace;
}

.clock-container {
    font-size: 5rem;
    font-weight: bold;
    border: 4px solid #61dafb;
    padding: 20px 40px;
    border-radius: 15px;
}


.page-footer-nav {
  margin-top: 50px;
  border-top: 1px solid #e2e8f0;
  padding-top: 20px;
}

.page-footer-nav p {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
}